html, body {
    margin: 0;
    padding: 0;
    background-color: #282828;

    font-family: Segoe UI;
}

.nav {
    margin: 0;
    padding: 0;
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51); opacity: 0.85;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.active-sign-up {
  background-color: #58ACFA;
}

.active-sign-in {
  background-color: #04AA6D;
}

.img-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
}

.style-header{
  text-align: center;
  font-size: 30px;
}

.style-text{
  text-align: center;
  left:33%; 
  position: relative;
  width: 33%;
  height: 35%;
  border: 3px solid #04AA6D;
  background-color: rgb(51, 51, 51);
}

.style-content{
  text-align: center;
  left:25%; 
  position: relative;
  width: 50%;
  height: 35%;
  border: 3px solid #04AA6D;
  background-color: rgb(51, 51, 51);
}

input[type=text] {
  padding: 5px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color: #33333;
}

input[type=email] {
  padding: 5px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=email]:focus {
  border-color: #33333;
}

input[type=password] {
  padding: 5px;
  border: 2px solid #cccccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=password]:focus {
  border-color: #33333;
}

input[type=submit] {
  padding: 5px 15px;
  margin: 15px 15px;
  color: white;
  background: #99e0b2;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
